.small-14 {
  font-size: 14px;
}
.small-12 {
  font-size: 12px;
}
.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.topbar-part {
  height: 80px;
}

.indices-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
.index * {
  padding: 5px;
}
.topbar-part .menu span {
  padding: 7px;
  color: rgb(80, 80, 80);
  font-size: calc(7px + 0.4vw);
}
.topbar-part .menu span:hover {
  color: rgb(197, 81, 14);
}

.topbar-part .menu a.active span {
  color: #c5510e;
}
.profile {
  border-left: 1.5px solid rgb(164, 164, 164);
}

.profile-menu {
  position: absolute;
  width: 180px;
  border: 1px solid rgb(146, 139, 139);
  background-color: rgb(238, 238, 238);
  z-index: 2;
  top: 80px;
  right: 10px;
}
.profile-menu span {
  font-style: italic;
  padding: 0 15px;
  font-size: 11px;
}

.dashboard {
  flex: 1;
}

.gain {
  color: rgb(18, 187, 18);
}
.loss {
  color: rgb(227, 41, 41);
}
.lossPos {
  background-color: rgb(221, 150, 150);
  color: rgb(109, 32, 32);
  padding: 2px 5px;
}
.holdings,
.positions {
  display: flex;
  flex-direction: column;
  height: 88vh;
}

.holdings .table-body-scroll,
.positions .table-body-scroll {
  overflow-y: auto;
  flex: inherit;
}
.order-table th,
.order-table td {
  width: 12.5%;
  text-align: center;
}
.position-table td,
.position-table th {
  width: 14.28%;
  text-align: center;
}
.order-table tr,
.position-table tr {
  line-height: 2.2;
  border-bottom: 0.88px solid rgba(227, 211, 211, 0.744);
}
.fund-details table tr > td {
  font-size: 13px;
  font-weight: 600;
  padding: 9px 30px;
  text-align: end;
}
.fund-details table tr > td:first-child {
  color: rgb(146, 148, 148);
  font-size: 13px;
  text-align: start;
}

.watchlist-search .search{
  width: 80%;
  font-size: 80%;
  background-color: white;
  border: none;
  color: black;
}
.list li {
  list-style-type: none;
}
.list li:hover{
  background-color: #e1e1e1;
  cursor: pointer;
}
.list{
  height:70vh;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #c0c0c0;
  border-radius: 3px;
}